@charset "utf-8";



/* font */
/* Petit Formal Script */
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

/* pretendard */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/variable/pretendardvariable.css');

/* RM Neue */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


/* 공통 */
body { font-family: Pretendard, sans-serif; color: #fff;  }
html{scroll-behavior:smooth;}
.inner{width: 80%; margin: 0 auto; }
section{padding-top: 150px; }
/* 공통 - title */
h1.title span{font-size: 30px; font-weight: 100; }
h1.title{font-size: 150px; font-style: italic; font-weight: 400; line-height: 140px; margin-bottom: 120px;}


/* font */
.en{font-family:'Inter', sans-serif ; }
.en2{font-family: 'Petit Formal Script', cursive;}


/* nav */
header { position: fixed; top: 30px; left: 0; width: 100%; display: flex; justify-content: center; align-items: center; z-index: 1000; transition: transform 0.3s ease; will-change: transform; }

header.hide { transform: translateY(-80px); }



.logo {position: absolute; left: 50%; transform: translateX(-50%); font-size: 28px; font-weight: 700; margin-top: 50px; letter-spacing: -2px; font-style: normal;}
.gnb {position: absolute; right: 40px; background: rgba(255,255,255,0.1); padding: 15px 30px; border-radius: 50px; top:10%;}
.gnb ul {display: flex; gap: 30px; align-items: center;}
.gnb li {display: flex; align-items: center; text-align: center; }
.gnb a {color: #fff; font-size: 18px; transition: color 0.3s;}
.gnb .dot {width: 5px; height: 5px; background: #a1a6ff; border-radius: 50%; display: inline-block; opacity: 0; transition: opacity 0.3s; margin-right: 7px;}
.gnb li.active .dot {opacity: 1; }
.gnb li:hover .dot {opacity: 1; transition: opacity 0.3s;} 
.gnb a:hover {color: #a1a6ff; transition: color 0.3s;}



/* main */
.gradient-bg {position: fixed; inset: 0; background: linear-gradient(135deg, #0000f4, #000000); z-index: -1;}
.main {height: 100vh; display: flex; align-items: flex-end; padding-bottom: 50px; }
.animated-text {font-size: 14vw; font-weight: bolder; white-space: nowrap; transform: translateX(25vw); opacity: 1; letter-spacing: -20px;}
.word {display: inline-block; opacity: 0; transform: translateY(100px);}
.word:nth-child(-n+3) {opacity: 1; transform: translateY(0);}
.sub-text {
position: absolute; top: 95%; right: 15%; font-size: 24px; width: 29%; font-weight: 200; line-height: 1.5; opacity: 0;
  }



/* 공통 - marquee */
.marquee {padding-top: 350px; width: 100%;overflow: hidden; white-space: nowrap;}
.marquee span { display: inline-block; font-size: 180px; font-weight: 700; color: transparent; -webkit-text-stroke: 1px rgba(255, 255, 255, 1); padding-right: 40px;animation: marquee 30s linear infinite;}

@keyframes marquee {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}


/* about */
.about{height: 200vh; } 
.about .profile{display: flex; justify-content: space-between; margin-bottom: 100px;}

.about .profile-left h1 span{ display: block; line-height: 1.1;}
.about .profile-left h2{font-size: 60px;  margin-top: 80px; font-weight: 400;}

.about .profile-right .imgBox{position: relative;}
.about .profile-right .imgBox img{width: 530px; height: 630px;   transition: filter 0.4s ease; }
.about .profile-right .imgBox:hover img{filter: brightness(50%);}
.about .profile-right .imgBox:hover .button{opacity:1; transition: opacity 0.4s ease;} 
.about .profile-right .imgBox .button{border: 1px solid #fff; padding: 10px 20px; border-radius: 30px; font-size: 24px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); opacity: 0;}
.about .profile-right .imgBox .button .lnr-arrow-right {display: inline-block; transform: rotate(-45deg) translateY(2px);  transition: transform 0.3s ease;}
.about .profile-right .imgBox .button:hover .lnr-arrow-right {
  transform: rotate(45deg);
}


.about .profile-bottom p{font-size: 38px; font-weight: 300;}
.about .profile-bottom p.a{margin-bottom: 50px;}








/* work */
.work{height: 200vh;}
.work .inner h1.title {text-align: right; }

/* project-card style */
.project-grid {display: grid; grid-template-columns: repeat(3, 1fr); gap: 45px;  padding: 60px 0;}
.project-card {background: #ffffff; padding: 40px 38px;border-radius: 15px; cursor: pointer;}
.project-card:hover {transform: translateY(-6px);}
.project-card img{ width: 350px; height: 200px; border-radius: 10px; display:flex; margin:0 auto;}
.project-card .badge {display: inline-block; margin-top: 24px;padding: 6px 12px; background: #efefef; color: #333;border-radius: 8px; font-size: 14px;}
.project-card .title {margin: 20px 0 7px; font-size: 22px;font-weight: 600; color: #000;}
.project-card .desc {font-size: 18px; color: #444;line-height: 1.3; margin-bottom: 40px; width: 90%;}
.project-card .tags {font-size: 14px; color: #6b6b6b;}




/* question */
.question{height:150vh;}

.faq-item{border-bottom:1px solid rgba(255,255,255,0.15);padding:45px 0;}
.faq-question{font-size:26px;cursor:pointer;display:flex;align-items:center;line-height:1.3;}
.faq-question span{font-weight:100;margin-right:10px;}
.faq-icon{margin-left:auto;font-size:18px;opacity:0.7;display:flex;align-items:center;transition:transform .3s ease;}
.faq-answer{max-height:0; overflow:hidden; font-size:20px; line-height:1.5; color:#b7b7b7; opacity:0; padding-top:0; transition:max-height .45s ease, opacity .25s ease, padding-top .45s ease;}
.faq-item.active .faq-answer{ max-height:400px; opacity:1; padding-top:16px;}
.faq-item.active{padding-bottom:45px;}









/* footer */
footer {position: relative; overflow: hidden} 
footer .inner {height: 110vh; box-sizing: border-box; display: flex; flex-direction: column; position: relative; z-index: 2;  } 
footer .box {padding: 50px 0 0; background-color: rgba(55,55,55,0.4); backdrop-filter: blur(100px);flex-grow: 1; display: flex; flex-direction: column; margin-top: 140px;}
footer .box .mainTextBox {text-align: center;}
footer .box .mainTextBox h2 {font-size: 120px; text-transform: uppercase; letter-spacing: -1px; font-weight: normal; margin-bottom: 30px}
footer .box .mainTextBox p span {opacity: 0.5; display: block;}
footer .box .talkBtn {flex-grow: 1; display: grid; place-items: center;}
footer .box .talkBtn a{display: block; width: 95px; height: 95px; border-radius: 100%; box-shadow: 0 0 0 13px #1c1c1c, 0 0 50px rgba(255, 255, 255, 0.3);}
footer .box .talkBtn a span {display: block; width: 95%; height: 95%; margin: 2.5% auto;border-radius: 100%; background: #a1a6ff; transition: all 0.3s}
footer .box .talkBtn a:hover span {width: 100%; height: 100%;; margin: 0 auto;}
footer .box .btnBox{display: flex; justify-content: center; flex-direction: row; border-top: 1px solid rgba(255, 255, 255, 0.2)}
footer .box .btnBox .btn {margin: 20px; padding: 10px; background: none; color: #fff; opacity: 0.5}
footer .box .btnBox .btn:hover {opacity: 1}
footer .copyright{flex-direction: row; text-align: center; padding-top: 25px; font-size: 14px; margin-bottom: 30px;}


